* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 300;
    color: #212121;
}

body {
    background-image: linear-gradient(
        50deg,
        #fa7864 25%,
        #ffffff 25%,
        #ffffff 50%,
        #fa7864 50%,
        #fa7864 75%,
        #ffffff 75%,
        #ffffff 100%
    );
    background-size: 52.22px 62.23px;
    margin: 0;
}

/* ///////WELCOME/////// */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.welcome-container .logo {
    width: 25%;
    margin-top: 15px;
}

.welcome-text {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 30px;
}
.welcome-text-two {
    font-weight: 200;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

/* ///////REGISTRATION/////// */

.register-area {
    height: 515px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 6px;
    border: 2px solid #212121;
    background: #ffffff;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-text {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.register-firstname {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-lastname {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-email {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-password {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

::placeholder {
    font-size: 15px;
    text-align: center;
    color: #474646;
}

.register-button {
    font-size: 15px;
    color: black;
    height: 35px;
    width: 90px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 30px;
    margin-bottom: 30px;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.register-login-text {
    margin-top: 20px;
}

.register-firstname:hover,
.register-lastname:hover,
.register-email:hover,
.register-password:hover,
.register-button:hover {
    border: 3px solid;
    border-color: #212121;
    font-weight: bold;
    background: #fa7864;
}

.form-error-message {
    font-size: 15px;
    color: #212121;
    font-weight: bold;
    text-align: center;
    padding: 40px 20px 20px 20px;
}

/* ///////LOGIN/////// */

.login-area {
    height: 330px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 100px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}
.login-title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-email {
    height: 35px;
    width: 248px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}
.login-password {
    height: 35px;
    width: 248px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.login-button {
    font-size: 15px;
    color: black;
    height: 35px;
    width: 90px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.login-email:hover,
.login-password:hover,
.login-button:hover {
    border: 3px solid;
    border-color: #212121;
    font-weight: bold;
    background: #fa7864;
}

.login-error-message {
    font-size: 15px;
    color: #212121;
    font-weight: bold;
    text-align: center;
    padding: 40px 20px 20px 20px;
}

/* /////// APP HEADER /////// */

.app {
    display: flex;
    flex-direction: column;
}

.app-header {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 30px;
    background: #212121;
}

.app-header .logo {
    height: 90px;
    margin-right: auto;
}

.app-header .profile-picture-image {
    width: 100%;
    max-width: 60px;
    height: 60px;
    border: 2px solid #ffffff;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin-left: auto;
}

.search-box {
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-box-input {
    height: 35px;
    width: 250px;
    background: none;
    border: none;
    font-size: 18px;
}

.search-box-input::placeholder {
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}

.search-results {
    position: absolute;
    width: 100%;
    top: 35px;
    border: 2px solid black;
    border-radius: 6px;
    background: #ffffff;
    margin-top: 5px;
    padding: 4px;
    overflow: scroll;
}

.results-list-item {
    height: 35px;
    padding: 2px;
}

.search-image {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin-right: 2px;
}

.search-result-name {
    font-size: 16px;
    align-self: center;
}

.search-result-name:hover {
    font-weight: 400;
}

.results-list-item:hover {
    background: #fa7864;
}

.results-list-item a {
    text-decoration: none;
    display: flex;
}
.search-no-results {
    color: grey;
}

.header-home-button,
.header-friends-button,
.header-chat-button,
.header-logout-button,
.header-profile-button {
    float: left;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
}
.search-box-input:hover,
.header-home-button:hover,
.header-friends-button:hover,
.header-chat-button:hover,
.header-logout-button:hover,
.header-profile-button:hover {
    font-weight: 600;
}

/* /////// PROFILE /////// */

.profile {
    height: 400px;
    display: flex;
    justify-content: center;
}

.profile-area {
    display: flex;
    height: 360px;
    max-height: 400px;
    width: 80%;
    padding: 30px;
    margin: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}

.profile .profile-picture-image {
    height: 80%;
    max-height: 250px;
    max-width: 250px;
    border: 2px solid black;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}
.profile-content {
    overflow: scroll;
}
.profile-name {
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* /////// OTHER PROFILE /////// */

.other-profile {
    height: 400px;
    display: flex;
    justify-content: center;
}

.other-profile-area {
    display: flex;
    height: 360px;
    max-height: 400px;
    width: 70%;
    padding: 30px;
    margin: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}

.other-profile-picture-image {
    height: 80%;
    max-height: 250px;
    max-width: 250px;
    border: 2px solid black;
    border-radius: 6px;
    object-fit: cover;
}
.other-profile-name {
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
    overflow: scroll;
}

.other-profile-bio {
    margin-top: 20px;
    font-size: 20px;
}

/* /////// BIO /////// */

.bio-edit {
    padding: 0 20px 20px 20px;
    font-size: 15px;
}

.bio-edit-button {
    font-size: 25px;
    border: none;
    background: none;
    font-family: Sacramento;
    margin-top: 20px;
    padding: 0;
    cursor: pointer;
}

.bio-save-textarea {
    margin-left: 20px;
    margin-bottom: 20px;
    background: none;
    font-size: 15px;
    padding: 0;
}

.bio-save-button {
    font-size: 25px;
    border: none;
    background: none;
    font-family: Sacramento;
    margin-left: 20px;
    padding: 0;
    cursor: pointer;
}

/* /////// UPLOAD IMAGE MODAL /////// */

.upload-image-area {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 380px;
    border-radius: 6px;
    border: 2px solid black;
    background-color: #ffffff;
}

.upload-image-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.upload-image-modal-close {
    right: 35px;
    top: 5px;
    cursor: pointer;
    font-size: 40px;
    margin-top: 10px;
}

.upload-image-input {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-image-input + label {
    height: 30px;
    width: 30%;
    font-size: 12px;
    color: black;
    border: 2px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 5px 18px;
    white-space: nowrap;
}

/* /////// POPCORN MACHINE /////// */

.popcorn-machine-origin {
    position: absolute;
    top: 12.5%;
    z-index: -1;
}

.kernel {
    position: absolute;
}

/* /////// FRIENDSHIP BUTTON /////// */

.friend-button {
    padding: 30px 30px 30px 0;
}

.send-friend-request,
.unfriend,
.cancel-friend-request,
.accept-friend-request {
    font-size: 25px;
    background-color: #fa7864;
    font-family: Sacramento;
    border-radius: 6px;
    border: 2px solid black;
    cursor: pointer;
}

/* /////// FRIENDS PAGE /////// */

.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.friend-requests {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 360px;
    max-height: 400px;
    width: 80%;
    padding: 30px;
    margin: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
    overflow: scroll;
}

.friend-requests-text {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    width: 20%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}

.friend-requests-image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.friend-requests-name {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.friend-requests-accept-button {
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: none;
    padding: 0;
}

.friends-friends {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 80%;
    padding: 30px;
    margin: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
    overflow: scroll;
    flex-wrap: wrap;
}

.friends-text {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 10%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
}

.friend-image {
    width: 150px;
    height: 150px;
    border: 2px solid #212121;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.friend-name {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.friend-name a,
.friend-requests-name a {
    text-decoration: none;
}

.friend-unfriend-button {
    font-size: 10px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: none;
    padding: 0;
}

.empty-friends-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.empty-friends {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 30%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
}

/* /////// ONLINE /////// */

.online-now-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.online-now-area {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 360px;
    max-height: 400px;
    width: 80%;
    padding: 30px;
    margin: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
    overflow: scroll;
}

.online-now-text {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 20%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
    text-decoration: none;
}

.online-now-name {
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.online-now-image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
    margin: 20px;
}

.empty-online-users-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.empty-online-users {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 30%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
}

/* /////// CHAT /////// */

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-others-online {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 20%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
    text-decoration: none;
}
.chat-area {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 60%;
    padding: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
    overflow: scroll;
}

.chat-content {
    display: flex;
}

.chat-image {
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.chat-name {
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
}

.chat-message {
    font-size: 13px;
}

.chat-timestamp {
    font-weight: 600;
}

.chat-textarea-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-textarea {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    height: 60px;
    width: 60%;
    font-size: 15px;
    padding: 0;
    border: 2px solid #212121;
    border-radius: 6px;
}

.empty-chat {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 30%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
}

/* /////// WALL /////// */

.posts-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.posts-text {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Sacramento;
    background: #ffffff;
    width: 10%;
    text-align: center;
    border: 2px solid #212121;
    border-radius: 6px;
}

.posts-list-area {
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 60%;
    padding: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
    overflow: scroll;
}
.posts-content {
    display: flex;
}

.posts-image {
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.posts-name {
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 15px;
}

.posts-post {
    font-size: 13px;
}

.posts-image {
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 6px;
    object-fit: cover;
    object-position: center;
}

.add-post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-post-textarea {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    height: 60px;
    width: 60%;
    font-size: 15px;
    padding: 0;
    border: 2px solid #212121;
    border-radius: 6px;
}

.add-post-button {
    font-size: 15px;
    height: 35px;
    width: 55px;
    border: 2px solid #212121;
    border-radius: 6px;
    cursor: pointer;
    background: #ffffff;
    padding: 0;
    margin-bottom: 30px;
}

/* /////// FOOTER /////// */

main {
    min-height: calc(100vh - 135px);
}

.copyright {
    display: flex;
    background-color: #212121;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
