* {
    box-sizing: border-box;
    font-family: Poiret One;
    color: #212121;
}

body {
    background-image: linear-gradient(
        50deg,
        #f2462c 25%,
        #ffffff 25%,
        #ffffff 50%,
        #f2462c 50%,
        #f2462c 75%,
        #ffffff 75%,
        #ffffff 100%
    );
    background-size: 65.27px 77.79px;
    margin: 0;
}

/* ///////WELCOME/////// */

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
}

.welcome-container .logo {
    width: 25%;
    margin-top: 15px;
}

.welcome-text {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}
.welcome-text-two {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

/* ///////REGISTRATION/////// */

.register-area {
    height: 500px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 6px;
    border: 2px solid #212121;
    background: #ffffff;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.register-firstname {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-lastname {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-email {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.register-password {
    height: 35px;
    width: 248px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

::placeholder {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #212121;
}

.register-button {
    font-size: 13px;
    font-weight: bold;
    color: black;
    height: 35px;
    width: 90px;
    border-radius: 6px;
    border: 2px solid #212121;
    margin-top: 30px;
    margin-bottom: 30px;
    background: transparent;
}

.register-login-text {
    margin-top: 20px;
    font-weight: bold;
}

.register-firstname:hover,
.register-lastname:hover,
.register-email:hover,
.register-password:hover,
.register-button:hover {
    border: 3px solid;
    border-color: #212121;
    font-weight: bold;
}

.form-error-message {
    font-size: 15px;
    color: red;
    font-weight: bold;
    text-align: center;
}

/* ///////LOGIN/////// */

.login-area {
    height: 315px;
    width: 350px;
    margin-top: 40px;
    margin-bottom: 100px;
    border: 2px solid #212121;
    background: #ffffff;
}
.login-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-email {
    height: 35px;
    width: 248px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}
.login-password {
    height: 35px;
    width: 248px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
}

.login-button {
    font-size: 13px;
    font-weight: bold;
    color: black;
    height: 35px;
    width: 90px;
    border: 2px solid #212121;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: transparent;
}

.login-email:hover,
.login-password:hover,
.login-button:hover {
    border: 3px solid;
    border-color: #212121;
    font-weight: bold;
}

.login-error-message {
    font-size: 15px;
    color: red;
    font-weight: bold;
    text-align: center;
}

/* /////// APP /////// */

.app {
    display: flex;
    flex-direction: column;
}
.app-header {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
    width: 100vw;
    padding: 30px;
}

.app-header .logo {
    height: 100%;
}

.app-header .profile-picture-image {
    height: 60%;
    border: 2px solid black;
    border-radius: 6px;
}

/* /////// PROFILE /////// */

.profile {
    height: 400px;
    display: flex;
}

.profile-area {
    height: 320px;
    width: 400px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}

.profile .profile-picture-image {
    height: 30%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
}
.profile-name {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* /////// OTHER PROFILE /////// */

.other-profile {
    height: 400px;
    display: flex;
}

.other-profile-area {
    height: 430px;
    width: 375px;
    margin-top: 40px;
    margin-bottom: 100px;
    margin-left: 30px;
    border: 2px solid #212121;
    border-radius: 6px;
    background: #ffffff;
}

.other-profile-picture-image {
    height: 60%;
    max-height: 250px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 6px;
}
.other-profile-name {
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* /////// BIO /////// */

.bio-edit {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 15px;
}

.bio-edit-button {
    font-size: 25px;
    border: none;
    background: none;
    font-family: Sacramento;
    margin-top: 20px;
}

.bio-save-textarea {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    background: none;
    font-size: 15px;
    resize: none;
}

.bio-save-button {
    font-size: 25px;
    border: none;
    background: none;
    font-family: Sacramento;
    margin-left: 20px;
}

/* /////// UPLOAD IMAGE MODAL /////// */

.upload-image-area {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

.upload-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230px;
    width: 380px;
    border-radius: 6px;
    border: 2px solid black;
    background-color: #ffffff;
}

.upload-image-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: Sacramento;
}

.upload-image-modal-close {
    /* position: absolute; */
    right: 35px;
    top: 5px;
    cursor: pointer;
    font-size: 60px;
}

.upload-image-input {
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload-image-input + label {
    height: 30px;
    width: 30%;
    font-size: 12px;
    color: black;
    border: 2px solid black;
    background: transparent;
    border-radius: 6px;
    padding: 5px 18px;
    white-space: nowrap;
}
